# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. TensorFlow
4. Matplotlib
5. NumPy

|Data Science Tools|
|---|
|SAS|
|JupyterLab|
|Apache Hadoop|
|TensoeFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__
* List languages for Data Science
* List tools for Data Science
* List libraries for Data Science
* Format headings in Markdowns

## Author 
Dylan